return {
    variant = "{{ scheme-variant }}", -- variant
    base00 = "#{{ base00-hex }}", -- background
    base01 = "#{{ base01-hex }}", -- darkest_grey
    base02 = "#{{ base02-hex }}", -- dark_grey
    base03 = "#{{ base03-hex }}", -- grey
    base04 = "#{{ base04-hex }}", -- bright_grey
    base05 = "#{{ base05-hex }}", -- foreground
    base06 = "#{{ base06-hex }}", -- bright_white
    base07 = "#{{ base07-hex }}", -- brightest_white
    base08 = "#{{ base08-hex }}", -- red
    base09 = "#{{ base09-hex }}", -- orange
    base0A = "#{{ base0A-hex }}", -- yellow
    base0B = "#{{ base0B-hex }}", -- green
    base0C = "#{{ base0C-hex }}", -- cyan
    base0D = "#{{ base0D-hex }}", -- blue
    base0E = "#{{ base0E-hex }}", -- purple
    base0F = "#{{ base0F-hex }}", -- dark_red
}
